.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-coxlor: lightblue;
    background-color: black;
    color:rgb(145, 253, 117);
}

  .wrapper {
    display: flex;
flex-direction: column;
gap: 1rem;
font-size: 2rem;
    height: 50vh;
    width: 70vh;
    align-items: center;
    justify-content: center;
}
