* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-coxlor: lightblue;
    background-color: black;
}



.container {
    display: flex;

    height: 50vh;
    width: 60vh;
    align-items: center;
    justify-content: center;
}


.cell {
    height: 23vh;
    border: 3px solid rgb(145, 253, 117);
    margin: 1rem 0.3rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: rgb(145, 253, 117);
    coslor: rgb(84, 84, 238);
   justify-content: center;
   border-radius: 0.2rem;
}
.column a{
    text-decoration: none;
  
}